.billings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.billingSummary {
    display: flex;
    gap: 1rem;
    border: solid 1px #ccc;
    border-radius: 20px 20px;
    padding: 1rem;
    cursor: pointer;
    ul {
        list-style-type: none;
    }
    .data li {
        text-align: middle;
    }
}
.billingSummary:active { 
    transform: scale(0.9); 
} 