

.billings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.billingSummary {
    display: flex;
    gap: 1rem;
    border: solid 1px #ccc;
    border-radius: 20px;
    padding: 1rem;
    cursor: pointer;
    background-color: #f9f9f9; /* Light grey background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    ul {
        list-style-type: none;
    }
    .data li {
        text-align: middle;
    }
}

.billingSummary:active { 
    transform: scale(0.9); 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Slightly darker shadow when active */
}

.billingSummary ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.billingSummary .label li {
    text-align: right;
}

.billingSummary .data li {
    text-align: left;
}