body {
    --backgroundColor1: #F8F9FB;
    --backgroundColor2: #E1ECF7;
    --backgroundColor3: #AECBEB;
    --backgroundColor4: #83B0E1;
    --backgroundColor5: #71A5DE;

    --buttonColor: #0872E3;
    --buttonPressedColor: #0258B3;

    --textColor1: black;
    --textColor2: #83B0E1;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--backgroundColor5);
    margin: 0px;
}

img {
    width: 50px;
}

.logo {
    font-size: xxx-large;
    display: flex; /* Ensure the logo container uses flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    @media (min-width: 600px) {
        font-size: xx-large;

        }
}

section {
    display: flex;
    margin: auto;
    padding: 5%;
    width: 80%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor1);
}

.Title {
    background-color: var(--backgroundColor1);
    display: block;
    flex-direction: column;
    
}

.intro {
    display: flex; /* Ensure the parent container uses flexbox */
    flex-direction:column;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Add space between items */
 

    img {
        min-width: 90%
     
    }
    



    @media (min-width: 600px) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        img {
            max-width: 50%;
            min-width: 50%;
            width: 50%;
         
        }
        form {
            flex: 1; /* Allow the form to grow and take available space */
        }
    }
}


form {
    display: grid;
    grid-template-areas: "a b" "c c" "d d";
    grid-gap: 0.18rem;
    border-radius: 1.25px; 
    margin: 3px auto;



    input {
        min-height: 25px;
        min-width: 10%;
      
    }
    input[type=text]{
        grid-area: a;
        flex: 1 1 auto;
        max-width: 100%;
      
    }
    input[type=email]{
        grid-area: b;
    }
    input[type=submit] {
        grid-area: c;
        background-color: var(--buttonColor);
        color: var(--textColor1);
        cursor: pointer;
        max-height: 31px;
    }
    input[type=submit]:active {
        background-color: var(--buttonPressedColor);
    }
    p {
        color: var(--textColor2);
        grid-area: d;
        text-align: center;
        font-size: small;
        margin-top: 0px;
    }
}
.catchphrase {
    h1 {
        margin-bottom: 0;
    }
    h4 {
        margin-top: 2px;
    }
}
.benefit{
    background-color: var(--backgroundColor2);
    flex-direction: column;

    justify-content: space-around;
    align-content: space-around;
    div {
        display: flex;
        width: 100%;
        flex-direction: column;
        @media (min-width: 600px) {
            flex-direction: row;
        }
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            img {
                width: 6rem;
                border-radius: 30px, 30px;
            }
            p{
                text-align: center;
            }
        }
        .card:hover > .moreInfo {
            display: none;
        }
    }
}

.FAQ {
    flex-direction: column;
    background-color: var(--backgroundColor1);
    gap: 5px;
    .line {
        max-width: 100%;

        @media (min-width: 520px) {
            max-width: 70%;
            min-width: 70%;
        }
        background-color: var(--backgroundColor3);
        border-radius: 5px 5px;
        padding: 5px;
        span {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        
            .title {
                padding-left: 5px;
                margin: 5px 0px;
                font-weight: bold;
            }
        }
        .reponse {
            display:none;
            text-justify: middle;
        }
    }
    .line:hover .reponse{
        display: block;
    }
}

.directCall {
    background-color: var(--backgroundColor2);
    display: flex;
    flex-direction: column;
}

.footer {
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
    @media (min-width: 600px) {
        justify-content: space-around;
        
    }

    background-color: var(--backgroundColor4);
    div {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-content: start;
        flex-wrap: wrap;
        p {
            margin: 0px
        }
    }

    .socialMedia {
        @media (min-width: 600px) {
            padding-left: 10px;
            padding-right: 10px;
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--textColor1);      
        }
    }
}

h4 {
    font-weight: bold;
}